* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

body {
    background: linear-gradient(120deg, white, #6a26ad);
    min-height: 100%;
}

input {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    transition: .6s;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    color: black;
    outline: none;
}

div#corpo-form {
    /* background-color: red;*/
    width: 420px;
    margin: 80px auto 0px auto;
}

div#corpo-form-Cad {
    width: 420px;
    margin: 80px auto 0px auto;
}

div#corpo-form h1,
div#corpo-form-Cad h1 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
}

.duvidas {
    font-size: 20px;
}

.h2 {
    font: size 25px;
}