*{
margin: 0;
padding: 0;
}
body{
 background: linear-gradient(120deg, white, #8E0DED);
 min-height: 100%;
}


input{
display: block;
height: 55px;
width: 400px;
margin: 10px;
border-radius: 30px;
border: 1px solid black;
font-size: 16pt;
padding: 10px 20px;
background-color: rgba(255,255,255,0.01);
color:black;
    outline: none;
}
input[type="submit"]{
background-color: black;
color: #8E0DED;
border: none;
cursor: pointer;
}
input[type="submit"]:hover{
background-color: white;
color: #8E0DED;
}